body{
    margin: 0;
    padding: 0;
    background-color: rgb(144, 144, 247);
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background-color: #f9f9f9;
    /* width: 200px;
    height: 300px; */
    padding: 15px;
 /*    border-radius: 30px; */
    box-shadow: inset 5px 5px 12px #ffffff,
                        5px 5px 12px rgba(0, 0, 0, .16);
    display: grid;
    grid-template-columns: repeat(4,68px);
    border: 2px grey;
    
}

.input{
    grid-column: span 4;

    width: 250px;
    background-color: #ecf0ec;
    box-shadow: inset -5px -5px  9px #ffffff,
                     inset 5px 5px 9px rgba(0, 0, 0, .16);
    border-radius: 10px;
    text-align: end;
    color: black;
    border: none;
    padding: 5px 15px;
    font-size: larger;
    height: 100px;
}
.bar{
    position: absolute;
    top: 90px;
    left: 617px;
    width: 301px;
    height: 90px;
}
.num{
    background-color: white;
    font-size: 19px;
    font-weight: bold;
}

button{
    height: 48px;
    width: 60px;
    border: none;
    box-shadow:  -5px -5px 12px #ffffff,
                5px 5px 12px rgba(0, 0, 0, .16);
    margin-bottom: 5px;
}
.mc{
    margin-bottom: 10px;
    border: none;
    background-color: #f9f9f9;
    box-shadow: none;
    font-weight: bold;
}
button:hover{
color: rgb(0, 255, 30);
}
.Del:hover{
   color: red;
}














